
header .all-link a{
    margin-left: 30px;
    text-decoration: none;
    color: #333;
    font-size: 15px;
    line-height: 26px;
    font-weight: 400;
    position: relative;
  }
header .left img{
    cursor: pointer;
  }
  
header .linedivide1{
    display: block;
    height: 20px;
    width: 0.1px;
    background-color: #e5e5e5;
    margin-left: 50px;
    margin-right: 40px;
    margin-top: -23px;
  }

header .all-link a::after{
    content: "";
    position: absolute;
    background-color: #333;
    height: 1px;
    width: 100%;
    display: none;
    left: 0;
    bottom: -2px; 
    transition: .3s;
  }
header .all-link a:hover{
    color: black;
  }
header .all-link .red{
    color:#ec7665;
  }
header .all-link a:hover::after{
    display: block;
}
header img{
    cursor: pointer;
  }

header i{
    font-size: 26px;
    color: rgb(180, 175, 175);
    position: relative;
  }
header i.res{
    display: none;
  }

  header .second::after{
    content: "0";
    background-color: #333;
    color: #fff;
    font-size: 10px;
    padding:3px 5px;
    border-radius: 50%;
    position: absolute;
    bottom: 12px;
    left: 17px;
  }

  @media(max-width:576px){
    header .container{
        padding: 0 2rem;
    }
    header .center{
        display: none;
    }
    header .right{
        display: flex;
    }
    header .right i{
        margin: 0 !important;
    }
    header i.res{
        display: block;
    }
  }